---
import "../styles/reset.css";
import "../styles/globals.css";
import "../styles/landing.css";

import { name, themeColor, twitterHandle } from "spectre:globals";
import Navbar from "../components/Navbar.astro";

interface Props {
	title: string;
	description?: string;
	pagefindIgnore?: boolean;
}

const { title, description, pagefindIgnore } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<link rel="preload" href="/fonts/Geist.woff2" as="font" type="font/woff2" crossorigin="">
		<link rel="preload" href="/fonts/GeistMono.woff2" as="font" type="font/woff2" crossorigin="">

		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/png" sizes="64x64" href="/favicon-64.png" />
		<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32.png" />
		<link rel="apple-touch-icon" href="/apple-touch-icon.png" />
		<meta name="generator" content={Astro.generator} />

		<title>{title}</title>
		{description && <meta name="description" content={description} />}
		<meta name="theme-color" content={themeColor}>

		<link rel="canonical" href={Astro.url} />

		<meta name="og:title" content={title} />
		{description && <meta name="og:description" content={description} />}
		<meta name="og:image" content="/img/og.png" />
		<meta name="og:url" content={Astro.site} />
		<meta name="og:type" content="website" />
		<meta name="og:locale" content="en" />

		<meta name="twitter:card" content="summary_large_image" />
		{twitterHandle && (
			<meta name="twitter:site" content={twitterHandle} />
			<meta name="twitter:creator" content={twitterHandle} />
		)}
		<meta name="twitter:title" content={title} />
		{description && <meta name="twitter:description" content={description} />}
		<meta name="twitter:image" content="/img/og.png" />
	</head>
	<body class="landing">
		<main data-pagefind-ignore={pagefindIgnore}>
			<Navbar />
			<slot />
		</main>
	</body>
</html>
